*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(65, 65, 82);
    gap: 20px;
}


canvas{
   
    background-color: rgb(175, 160, 160);
}

.actions{
    /* height: 70vh;
    width: 25em;
    background-color: rgb(96, 91, 91); */
}