*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(65, 65, 82);
    gap: 20px;
}


canvas{
   
    background-color: rgb(175, 160, 160);
}

.actions{
    /* height: 70vh;
    width: 25em;
    background-color: rgb(96, 91, 91); */
}

input {
    /* background-color: transparent; */
    background-color: wheat;
    border: 0px;
    height: 20px;
    border-bottom: 1px solid black;
    color: rgb(48, 46, 41);
    text-align: center;
    width: 160px;
}


.images-gallery{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    padding: 10px;
    border-radius: .5em;
    /* margin-block: 1em; */
    /* height: 100vh; */
    background-color: rgb(175, 160, 160);
}

img{
    height: 15em;
    border-radius: .5em;
}