* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(65, 65, 82);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
    gap: 10px;

}

.canvas-container {
    width: 40vw;
    background-color: rgb(80, 55, 114);
    /* border: 1px solid rgb(48, 46, 46); */
    margin: 10px auto;
}



canvas {
    display: block;
    border-radius: .5em;
    background-color: rgb(175, 160, 160);
}


.meme-editor input {
    width: 18em;
    height: 3em;
    margin-inline-start: .8em;
    margin-bottom: 1em;
    font-size: 1.3em;
    text-align: center;
    border-radius: .5em;
    background-color: wheat;
    border-bottom: 1px solid black;
    color: rgb(48, 46, 41);
}



canvas img {
    height: 15em;
    width: 100%;
    border-radius: .5em;
}

.meme-container.hidden {
    display: none;
}


.images-gallery.hidden {
    display: none;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    width: 96vw;
    margin: 3px;
    padding: 5px;

    background-color: rgb(125, 108, 142);
    border-radius: .5em;
}

.main-header a {
    text-decoration: none;
    color: black;

}

.main-nav li {
    margin-inline-end: 2em;
}



.main-nav li {
    display: flex;
    flex-direction: column;
    /* margin-inline: 1em; */
    justify-content: space-between;
   
}


.nav-list {
    display: flex;
    /* margin-inline: 2em; */
}



.nav-list ul {
    margin: 0;
    padding: 0;
    /* list-style-type: none; */
}

.logo {
    font-size: 1.4em;
    padding: 1em;
}


.nav-list button{
    background-color: rgb(125, 108, 142);
    border-radius: .5em;
    border: none;
    font-size: 1.3em;
    padding: 5px;
}


.nav-list button:hover{
    border-radius: .5em;
    color: rgb(218, 206, 232);
}
/* .meme-container {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    gap: 2.5em;
} */

.actions {
    display: flex;
    padding-inline: 1em;
    gap: 1em;
}

.actions button {
    width: 6.9em;
    padding: .6em;

    font-size: 1em;
    border-radius: 5px;
}


.main-editor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 28.1em;
    background-color: rgb(108, 94, 121);
    gap: 1em;
    padding: 1em;
    border-radius: 10px;
}

.newColor {
    height: 3em;
    width: 3em;
    border-radius: 10px;
    /* padding: 1em; */

}

.meme-editor button {
    height: 3em;
    width: 3em;

    border-radius: 10px;
    font-size: 1em;
    background-color: rgb(198, 193, 203);

}

.imgFont {
    height: 1em;
    width: 100%;
    border-radius: .5em;
}


.main-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1.5em;
    gap: 5px;
}



.hidden {
    display: none;
}

.active-text {
    /* display: flex; */
    /* justify-items: center; */

    /* display: block; */
    /* columns: 1; */

    padding: 17px;
    border-radius: .5em;
    background-color: rgb(65, 65, 82);
}

.active-text button {
    margin: .3em;

    /* margin-inline-start: .3em; */
    /* padding: 2ems;   */
}

.active-text:first-child {
    margin-inline-end: 2em;
}

.fontSelect {
    height: 2.1em;
    font-size: large;
    border-radius: .5;

}

button {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.toggle-menu-btn{
    margin-right: 1em;
     background-color: rgb(125, 108, 142);
     color: antiquewhite;
    border: none;
    font-size: 1.7em;

}