* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(65, 65, 82);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
    gap: 10px;

}

/* .canvas-container {
    width: 40vw;
    background-color: rgb(80, 55, 114);
    /* border: 1px solid rgb(48, 46, 46); */
    /* margin: 10px auto; */
/* } */
 


canvas {
    border-radius: .5em;
    background-color: rgb(175, 160, 160);
}

.actions {
    /* height: 70vh;
    width: 25em;
    background-color: rgb(96, 91, 91); */
}

input {
    width: 15em;
    height: 2.5em;
    margin-inline-start: .7em;
    margin-bottom: .5em;
    font-size: 1.3em;
    text-align: center;
    border-radius: .5em;
    background-color: wheat;
    border-bottom: 1px solid black;
    color: rgb(48, 46, 41);
}



canvas img {
    height: 15em;
    width: 100%;
    border-radius: .5em;
}

.meme-container.hidden {
    display: none;
}


.images-gallery.hidden {
    display: none;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    width: 96vw;
    margin: 10px;
    padding: 10px;
   
    background-color: rgb(125, 108, 142);
    border-radius: .5em;
}

.main-header a {
    text-decoration: none;
    color: black;

}

.main-nav li{
    margin-inline-end: 2em;
}



.main-nav li {
    display: flex;
    flex-direction: column;
    /* margin-inline: 1em; */
    justify-content: space-between;
    font-size: 1.3em;
}


.nav-list {
    display: flex;
    /* margin-inline: 2em; */
}



.nav-list ul {
    margin: 0;
    padding: 0;
    /* list-style-type: none; */
}

.logo {
    font-size: 1.4em;
    padding: 1em;
}


.meme-container {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    gap: 2.5em;
}

.actions {
    display: flex;
    padding-inline: 1em;
    gap: 1em;
}

.actions button {
     width: 8em;
     padding: .6em;

     font-size: 1em;
    border-radius: 5px;
}


.main-editor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30em;
    background-color: rgb(108, 94, 121);
    gap: 1em;
    padding: 1em;
    border-radius: 10px;
}

.newColor{
    height: 3em;
    width: 3em;
    border-radius: 10px;
    /* padding: 1em; */

}

.meme-editor button{
    height: 3em;
    width: 3em;

    border-radius: 10px;
    font-size: 1em;
    background-color: rgb(198, 193, 203);

}

.imgFont{
    height: 1em;
    width: 100%;
    border-radius: .5em;
}


.main-btn{
display: flex;
justify-content: center;
align-content: center;
margin-bottom: 4em;
gap: 5px;
}


.hidden {
    display: none;
}